<div class="detail-body">
  <div class="previous">
    <a href="/word/previousWord/{{word.id}}">Previous</a>
  </div>
  <div class="word">
    <div class="block">
      <h1>{{word.word}}</h1>
      <p class="part-of-speech">{{word.partOfSpeech}}</p>
      <div class="explain-en">
        {{word.enExplain}}
      </div>
      <div class="explain">
        {{word.explain}}
      </div>
      <div class="sentence">
        <p>{{word.sentence}}</p>
      </div>
    </div>
    <div class="function">
      <a href="/word/editWord/{{word.id}}">Edit</a>
      <a href="/word/delete/{{word.id}}">Delete</a>
      <a href="/word/list">Home</a>
    </div>
  </div>
  <div class="next">
    <a href="/word/nextWord/{{word.id}}">Next</a>
  </div>
</div>