<div class="indexBody">
  <div class="yesterday">
    <div class="target">
      <h3>昨日目標</h3>
      <p>xxxx個單字</p>
    </div>
    <div class="finish">
      <h3>已完成</h3>
      <p>xxxx個單字</p>
    </div>
  </div>
  <div class="today">
    <h3>今日目標</h3>
    <p>xxxx個單字</p>
    <div class="finish">
      <h3>已完成</h3>
      <p>xxxx個單字</p>
    </div>
  </div>
  <div class="words">
    <div class="search">
      <input>
      <button>Search</button>
    </div>
    <div class="list">
      <ul>
        {{#each wordList}}
        <li class="item">
          <div class="remember">
            {{{this.remember}}}
            <a class="word" href="/word/{{this.id}}">{{this.word}}</a>
          </div>
          <div class="action">
            <a href="/word/editWord/{{this.id}}">Edit</a>
            <a href="/word/delete/{{this.id}}">delete</a>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="functionList">
    <div class="container">
      <ul>
        <li><a href="/user">使用者</a></li>
        <li><a href="/word/newWord">新增單字</a></li>
        <li><a href="/test/setting">進行測驗</a></li>
      </ul>
    </div>
  </div>
</div>